*
{
	margin:0;
}

body,html
{
	height: 100%;
}

.home
{
	background-image: url("home.jpg");
	background-size:cover; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.row-about
{
	padding:50px 0px 50px 0px;
}

.row-address
{
	text-align: center;
}

.row-socialMedia
{
	text-align: center;
	padding-top:10px;
	padding-bottom: 10px;
}

.jumbotron
{
	background-color:#D1C4E9;
	padding-bottom: 0px;
}

.data
{
	margin-top:20px;
	margin-bottom: 20px;
}

.heading
{
	font-family: font;
}

.label
{
	font-family:comicbd;
	font-size: 20px;
}

@font-face {
    font-family: font;
    src: url(segoeprb.ttf);
    font-weight: bold;
}

@font-face {
    font-family: comicbd;
    src: url(comicbd.ttf);
    font-weight: bold;
}

.col-heading
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.col-form
{
	padding:30px;
}